.wrapper {
  width: 22%;
  height: 100%;
  background-color: #23304c;
}

.logo {
  padding: 24px;
  color: #fff;
  font-size: 48px;
  text-align: center;
}

.dashboardLink {
  position: relative;
  padding: 12px 0;
  display: flex;
  align-items: center;
}

.dashboardLink a {
  color: #a8b0bc;
  text-decoration: none;
}

.linkActive {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gold;
}

.dashboardLink i {
  padding: 0 32px;
}
